* {
  box-sizing: border-box;
}

#modalHeader {
  text-align: center;
}

header.center {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  margin: auto;
}

#title {
  font-size: min(max(1rem, 2vw), 40px);
  text-align: center;
  font-family: 'Teko', sans-serif;
  letter-spacing: 3px;
  word-spacing: 3px;
  width:80%;
}

#nearestSelectBtn {
  margin-top: 32px;
}


#searchButton {
  font-family: 'Rokkitt', serif;
  font-weight: 300px;
  box-shadow: 0px 5px 5px grey; 
}

.btn:active {
  position: relative;
  top: 2px;
}

#clearVisited {
  font-family: 'Rokkitt', serif;
  font-weight: 300px;
}

.nav-wrapper {
  background-color: rgb(29, 90, 151)
}

.selectBtn {
  font-family: 'Rokkitt', serif;
  font-weight: 300px;
  margin-top: 22px;
}

@media screen and (max-width:400px) {
  .selectButtonDiv {
    text-align: center;
    
  }
  .selectBtn {
    margin-top: 0px;
  }
}

#visitButton {
  margin-bottom: 40px;
  font-family: 'Rokkitt', serif;
  font-weight: 300px;
}

.selected {
  background-color: rgb(145, 255, 191);
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

#guide-me-btn {
  width: 100%;
  height: 40px;

  margin-top: 12px;
}

h6 {
  margin: auto;
  padding-top: 20px;
  font-style: italic;
}

#visited-box {
  background: rgb(246, 246, 246);
  padding: 3px 0 5px 10px;
  height: 276px;
  width: 100%;
  border-radius: 5px;
  overflow: auto;
  text-align: center;
}

#visited-box-info p{
  font-style: italic;
}

#visited-box h5 {
  letter-spacing: 3px;
  word-spacing: 5px;
  font-family: 'Teko', sans-serif;
  text-align: center;
  background-color: rgb(29, 90, 151);
  margin-right: 10px;
  border-radius: 5px;
  border: 2px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

.footer {
  border-top: 1px black solid;
  bottom: 0;
  width: 100%;
  background-color: rgb(29, 90, 151);
  color: white;
  text-align: center;
  position: fixed;
  z-index: 1;
  font-size: 10px;
}

.location-name {
  line-height: 38px;
  border-radius: 10px;
  padding-left: 10px;
  margin-top: 30px;
  /* height: 22px;  */
}

main {
  height: 340px;
  margin-left: 0;
}

#map {
  height: 360px;
  width: 100%;
  background: lightgray;
  border: 1px black solid;
  border-radius: 5px;
  margin-bottom: 30px;
}

#mapPre-renderText {
  text-align: center;
  margin-top: 20%;
  font-style: italic;
}

#mapArea {
  text-align: center;
}

#locations {
  padding-top: 5px;
  border-radius: 10px;
  margin-top: 0;
}

#locations-header {
  letter-spacing: 3px;
  word-spacing: 5px;
  font-family: 'Teko', sans-serif;
  text-align: center;
  background-color: rgb(29, 90, 151);
  margin-right: 10px;
  border: 2px solid black;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

#other-locations {
  clear: both;
  margin-top: 20px;
  height: 300px;
  overflow: auto;
  border-radius: 5px;
  padding: 25px;
}
#srch-button {
  margin-left: -20px;
}

#txt-input {
  width: 260px;
  border: 1px solid lightgray !important;
  height: 25px;
}

#txt-input:focus {
  border-color: blue !important;
}

.responsive-image {
  position: relative;
  height: 100%;
  left: 0;
  top: 0;
  border: 1px solid black;
}
